@font-face {
  font-family: "Helvetica_Bold";
  src: url("./Assets/Fonts/helvetica_bold.otf");
}
@font-face {
  font-family: "Helvetica_Boldoblique";
  src: url("./Assets/Fonts/helvetica_boldoblique.otf");
}
@font-face {
  font-family: "Helvetica_Cyr_Boldoblique";
  src: url("./Assets/Fonts/helvetica_cyr_boldoblique.ttf");
}
@font-face {
  font-family: "Helvetica_Cyr_Oblique";
  src: url("./Assets/Fonts/helvetica_cyr_oblique.ttf");
}
@font-face {
  font-family: "Helvetica_Light";
  src: url("./Assets/Fonts/helvetica_light.otf");
}
@font-face {
  font-family: "Helvetica_LightOblique";
  src: url("./Assets/Fonts/helvetica_lightoblique.otf");
}
@font-face {
  font-family: "Helvetica_Oblique";
  src: url("./Assets/Fonts/helvetica_oblique.otf");
}
@font-face {
  font-family: "Helvetica_Regular";
  src: url("./Assets/Fonts/helvetica_regular.otf");
}
@font-face {
  font-family: "Gill_Sans";
  src: url("./Assets/Fonts/ofont_ru_Gill_Sans.ttf");
}

:root {
  --border-radius: 1rem;
  --letter-spacing: 0.8rem;
  --ff-helvetica: "Helvetica, sans-serif";

  /* Colors */
  --color-primary: #221a3b;
  --color-general-bg: #221a3c;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Upcoming Birthday */
  --color-upcoming-birthday--date: #382e59;
  --color-upcoming-birthday--days: #b75899;
  --color-upcoming-birthday-dots: #3e316b;

  /* Birthday List */
  --color-birthday-list-bg: #1a152c;
  --color-birthday-list-item-bg: #2a2145;
  --color-birthday-list--right-text: #f8cebd;
  --color-birthday-list--right-light: #f8cbc1;
  --color-birthday-list--right-dark: #241c3a;
  --color-birthday-list--right-progress: #927bd3;
  --color-birthday-list--primary: #9287b4;
  --color-birthday-list--title: #f5e7e4;
  --color-birthday-list--days: #f8d3b8;
  --color-birthday-list--checkbox: #fdc7ea;
  --color-birthday-list--additional-info: #dad2f1;

  --color-birthday-list--level-close: #f8d3b8;
  --color-birthday-list--level-soon: #f8bece;
  --color-birthday-list--level-safe: #f9adde;

  --color-birthday-list--level-bg-close: #af957e;
  --color-birthday-list--level-bg-soon: #ac7d8a;
  --color-birthday-list--level-bg-safe: #a17090;

  /* Sort */
  --color-birthday-sort-bg: #433963;
  --color-birthday-sort-content: #3e345f;
  --color-birthday-sort-item: #584b80;
  --color-birthday-sort-title: #dfd9f2;
  --color-birthday-sort-btn: #382f57;
  --color-birthday-sort-checkbox: #f5e3d6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
button {
  background: none;
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}

@media screen and (max-width: 100rem) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 80rem) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 50rem) {
  html {
    font-size: 43.75%;
  }
}
